{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<html>
<body>

<div class="navbar">
    <ul>
        <li>
            <a href="{% url 'polls:index' %}">KU Polls</a>
        </li>
    </ul>
</div>

<div class="authentication-page">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <p>
        <button type="submit">Login</button>
        </p>
        <input type="hidden" name="next" value="{{next}}"/>
    </form>
<div class="signup-link">Don't have an account? <a href="{% url 'signup' %}">Register Here!</a></div>
</div>

</body>
</html>