{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="navbar">
    <ul>
        <li>
            <a href="{% url 'polls:index' %}">KU Polls</a>
        </li>
        {% if user.is_authenticated %}
            <li style="float:right">
                <a href="{% url 'logout' %}">Log out</a>
            </li>
            <li style="float:right;" class="name">
                <a>{{user.username.title}}</a>
            </li>
        {% else %}
            <div class="auth">
                <li style="float:right">
                    <a href="{% url 'signup' %}">Sign up</a>
                </li>
                <li style="float:right">
                    <a href="{% url 'login' %}">Login</a>
                </li>
            </div>
        {% endif %}
    </ul>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert">
            <h2>{{ message }}</h2>
        </div>
    {% endfor %}
{% endif %}

<div class="questions">
    {% if latest_question_list %}
        <table>
            <thead>
                <tr>
                    <th>Poll Questions</th>
                    <th>Vote Results</th>
                </tr>
            </thead>
            <tbody>
                {% for question in latest_question_list %}
                    <tr>
                        <td>
                            {% if question.can_vote %}
                                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                            {% else %}
                                {{ question.question_text }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'polls:results' question.id %}">Results</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>

